<!DOCTYPE html>
<html>
  <head>
    <title>Debugger</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/tetris.css" />
    <!-- Scripts -->
    <!-- See if you can include this into the constructor of the Game class -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/seedrandom.min.js"></script>
    <script src="js/Tetris.js"></script>
    <script src="js/DebugTetris.js"></script>
  </head>
  <body>
    <div id='game'>
        <h1>Debugger</h1>
        <canvas class='ui' id='board' width='200' height='400'>
        </canvas>
    </div>
    <div class='ui' id='box-stats'>
        <h2>Statistics</h2>
        <table>
            <tr id='stat-T'>
                <td><canvas id='placeholder-Tglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Tcount'>1000</td>
            </tr>

            <tr id='stat-J'>
                <td><canvas id='placeholder-Jglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Jcount'>1000</td>
            </tr>

            <tr id='stat-Z'>
                <td><canvas id='placeholder-Zglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Zcount'>1000</td>
            </tr>
            
            <tr id='stat-O'>
                <td><canvas id='placeholder-Oglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Ocount'>1000</td>
            </tr>

            <tr id='stat-S'>
                <td><canvas id='placeholder-Sglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Scount'>1000</td>
            </tr>
            
            <tr id='stat-L'>
                <td><canvas id='placeholder-Lglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Lcount'>1000</td>
            </tr>
            
            <tr id='stat-I'>
                <td><canvas id='placeholder-Iglyph' width='80' height='60'></canvas></td>
                <td class='placeholder' id='placeholder-Icount'>1000</td>
            </tr>
        </table>
    </div>
    <div class='ui' id='box-lines'>
        <h2>Lines</h2>
        <p id='placeholder-lines'>0</p>
    </div>
    <div class='ui' id='box-score'>
        <h2>Score</h2>
        <p id='placeholder-score'>0</p>
    </div>
    <div class='ui' id='box-level'>
        <h2>Level</h2>
        <p id='placeholder-level'>1</p>
    </div>
    <script>
        var canvas=document.getElementById("placeholder-Tglyph");
        var glyph = new T_Tetromino();
        glyph.drawFixed(canvas, 1, 1);
        
        canvas=document.getElementById("placeholder-Sglyph");
        glyph = new S_Tetromino();
        glyph.drawFixed(canvas, 1, 1);

        canvas=document.getElementById("placeholder-Zglyph");
        glyph = new Z_Tetromino();
        glyph.drawFixed(canvas, 1, 1);

        canvas=document.getElementById("placeholder-Iglyph");
        glyph = new I_Tetromino();
        glyph.drawFixed(canvas, 0, 1);

        canvas=document.getElementById("placeholder-Oglyph");
        glyph = new O_Tetromino();
        glyph.drawFixed(canvas, 2, 1);

        canvas=document.getElementById("placeholder-Jglyph");
        glyph = new J_Tetromino();
        glyph.drawFixed(canvas, 1, 1);

        canvas=document.getElementById("placeholder-Lglyph");
        glyph = new L_Tetromino();
        glyph.drawFixed(canvas, 1, 1);

        var canvas=document.getElementById("board");
        game = new Replay(canvas, 0, 1);

        function gameLoop() {
            if (game.alive) {
                document.getElementById("placeholder-Icount").innerHTML=game.statistics['i'];
                document.getElementById("placeholder-Jcount").innerHTML=game.statistics['j'];
                document.getElementById("placeholder-Lcount").innerHTML=game.statistics['l'];
                document.getElementById("placeholder-Ocount").innerHTML=game.statistics['o'];
                document.getElementById("placeholder-Scount").innerHTML=game.statistics['s'];
                document.getElementById("placeholder-Tcount").innerHTML=game.statistics['t'];
                document.getElementById("placeholder-Zcount").innerHTML=game.statistics['z'];

                document.getElementById("placeholder-lines").innerHTML=game.lines;
                document.getElementById("placeholder-level").innerHTML=game.level;
                document.getElementById("placeholder-score").innerHTML=game.score;            

                game.update();
                game.draw();
                requestAnimationFrame(gameLoop);
            }
        }

        requestAnimationFrame(gameLoop);
        
    </script>
  </body>
</html>